<h1>Greetings Learning Spring Boot 3.0 fans!</h1>

<p>
  In this chapter, we are learning how to make
  a web app using Spring Boot 3.0
</p>

<div id="app"></div>
<script type="module" src="index.js"></script>
